<dec-dialog-title>
  Custom title set on template
</dec-dialog-title>

<dec-dialog-content>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
  <h2>Showing {{color}} dialog</h2>
</dec-dialog-content>
