<div class="app-sidenav">

  <dec-sidenav #mainSidenav [loading]="progressBarVisible">

    <dec-sidenav-toolbar color="default" [environment]="profile">

    </dec-sidenav-toolbar>

    <dec-sidenav-menu-left [open]="leftMenuVisible" [mode]="leftMenuMode" (openedChange)="leftMenuVisible = $event;"
      [persistVisibilityMode]="true">

      <dec-sidenav-menu-item routerLink="/">
        <dec-icon [font]="'mat'">home</dec-icon>
        Home
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item>
        <dec-icon [font]="'mat'">format_bold</dec-icon>
        Best practices
        <dec-sidenav-menu-item prefix="CL" routerLink="/best-practices/classes">Classes</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="CS" routerLink="/best-practices/component-styles">Component styles</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="FR" routerLink="/best-practices/forms">Forms</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="PC" routerLink="/best-practices/presentation-components">Presentation component</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="TR" routerLink="/best-practices/translation">Translation</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="TP" routerLink="/best-practices/types">Types</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="VW" routerLink="/best-practices/views">Views</dec-sidenav-menu-item>
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item>
        <dec-icon [font]="'mat'">view_quilt</dec-icon>
        Components

        <dec-sidenav-menu-item prefix="AC">
          Autocomplete
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete">Basic autocomplete</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-account">Account</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-company">Company</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-complexity">Complexity</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-country">Country</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-department">Department</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-product">Product</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-product-category">Product category</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-project">Project</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-quote">Quote</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-role">Roles</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-squads">Squads</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-studio">Studio</dec-sidenav-menu-item>
          <dec-sidenav-menu-item routerLink="/demo/component/autocomplete-tags">Tags</dec-sidenav-menu-item>
        </dec-sidenav-menu-item>

        <dec-sidenav-menu-item prefix="BC" routerLink="/demo/component/breadcrumb">Breadcrumb</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="SP" routerLink="/demo/component/card-similar-product">Card Similar Products</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="CA" routerLink="/demo/component/carousel">Carousel</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="CP" routerLink="/demo/component/color-picker">Color Picker</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="CD" routerLink="/demo/component/countdown">Countdown</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="DP" routerLink="/demo/component/date-picker">Date Picker</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="EL" routerLink="/demo/component/events-list">Events List</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="FB" routerLink="/demo/component/decora-fbx-qa">FBX QA</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="GL" routerLink="/demo/component/gallery">Gallery</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="GR" routerLink="/demo/component/grid">Grid</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="IC" routerLink="/demo/component/icon">Icon</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="IM" routerLink="/demo/component/image-marks">Image marks</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="IZ" routerLink="/demo/component/image-zoom">Image zoom</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="IC" routerLink="/demo/component/input-time">Input time</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="JD" routerLink="/demo/component/job-details">Job details</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="JR" routerLink="/demo/component/job-round">Job round</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="LB" routerLink="/demo/component/label">Label</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="LI" routerLink="/demo/component/list">List</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="MC" routerLink="/demo/component/markdowns-comment">Markdowns comment</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="MZ" routerLink="/demo/component/markdowns-zoom-area">Markdowns zoom area</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="MS" routerLink="/demo/component/mock-server">Mock server</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="PF" routerLink="/demo/component/page-forbiden">Page forbiden</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="PB" routerLink="/demo/component/product-briefing">Product briefing</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="PF" routerLink="/demo/component/product-features">Product features</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="PM" routerLink="/demo/component/product-measures">Product measures</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="PS" routerLink="/demo/component/product-spin">Product spin</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="RC" routerLink="/demo/component/render-comment">Render Comment</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="SC" routerLink="/demo/component/section">Section</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="SN" routerLink="/demo/component/sidenav">Sidenav</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="SK" routerLink="/demo/component/sketchfab">Sketchfab</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="SV" routerLink="/demo/component/sketchfab-view">Sketchfab view</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="SL" routerLink="/demo/component/steps-list">Steps List</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="ST" routerLink="/demo/component/suggested-time">Suggested time</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="TB" routerLink="/demo/component/tabs">Tabs</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="UP" routerLink="/demo/component/upload">Upload</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="ZA" routerLink="/demo/component/zoom-area">Zoom area</dec-sidenav-menu-item>
        <dec-sidenav-menu-item prefix="ZM" routerLink="/demo/component/zoom-marks">Zoom marks</dec-sidenav-menu-item>
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item>
        <dec-icon [font]="'mat'">view_quilt</dec-icon>
        Directives
        <dec-sidenav-menu-item routerLink="/demo/directive/image">Image</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/directive/permission">Permission</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/directive/scroll">Scroll</dec-sidenav-menu-item>
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item>
        <dec-icon [font]="'mat'">settings_input_component</dec-icon>
        Patterns

        <dec-sidenav-menu-item routerLink="/patterns/structure">Folder structure</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/patterns/style-guide">Style-Guide</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/patterns/typography">Typography</dec-sidenav-menu-item>
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item>
        <dec-icon [font]="'mat'">view_quilt</dec-icon>
        Pipes

        <dec-sidenav-menu-item routerLink="/demo/pipe/category">Category</dec-sidenav-menu-item>
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item>
        <dec-icon [font]="'mat'">opacity</dec-icon>
        Style
        <dec-sidenav-menu-item routerLink="/demo/bootstrap/overview">Bootstrap</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="https://xd.adobe.com/spec/fa38fad4-06f4-4e17-69a3-937dfeac35cd-8c09/">Style-guide</dec-sidenav-menu-item>
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item>
        <dec-icon [font]="'mat'">play_circle_outline</dec-icon>
        Services
        <dec-sidenav-menu-item routerLink="/demo/service/api">Api</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/service/config">Configuration</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/service/confirm-dialog">Confirm dialog</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/service/dialog">Dialog</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/service/initializer">Initializer</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/service/loader">Loader</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/service/permission-guard">Permission Guard</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/service/snack-bar">Snackbar</dec-sidenav-menu-item>
        <dec-sidenav-menu-item routerLink="/demo/service/websocket">Websocket</dec-sidenav-menu-item>
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item>
        <dec-icon [font]="'mat'">build</dec-icon>
        Tools
        <dec-sidenav-menu-item routerLink="/tools/object-sort">Object Sort</dec-sidenav-menu-item>
      </dec-sidenav-menu-item>

      <dec-sidenav-menu-item routerLink="http://decoracontent.com/platform">Legacy Platform</dec-sidenav-menu-item>

    </dec-sidenav-menu-left>

    <dec-sidenav-content>

      <router-outlet></router-outlet>

    </dec-sidenav-content>

  </dec-sidenav>

</div>
