<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/dec-input-time/README.md">

  <p><strong>Model value: {{ modelValue }}</strong></p>
  <dec-input-time [required]="true" [(ngModel)]="modelValue"></dec-input-time>

  <h3>Disabled</h3>

  <p><strong>Model value: {{ modelValue2 }}</strong></p>
  <dec-input-time [disabled]="true" [(ngModel)]="modelValue2"></dec-input-time>

  <h3>Required</h3>

  <p><strong>Model value: {{ modelValue3 }}</strong></p>
  <dec-input-time [required]="true" [(ngModel)]="modelValue3"></dec-input-time>

</app-demo-container>
