<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/dec-input-time/README.md">

  <p><strong>Model value: {{ modelValue }}</strong></p>
  <dec-input-time [(ngModel)]="modelValue"></dec-input-time>

  <br>

  <p><strong>Model value: {{ modelValue2 }}</strong></p>
  <dec-input-time [(ngModel)]="modelValue2"></dec-input-time>

  <br>

  <p><strong>Model value: {{ modelValue3 }}</strong></p>
  <dec-input-time [(ngModel)]="modelValue3"></dec-input-time>

  <br>

  <p><strong>Model value: {{ modelValue4 }}</strong></p>
  <dec-input-time [(ngModel)]="modelValue4"></dec-input-time>

</app-demo-container>
