<p>
  decora-fbx-qa works!
</p>

<div style="display: flex;justify-content: space-around;">
  <div style="border: none;width: 600px; height: 600px;">
    <iframe id="iFrameFbx" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" src="http://arquivos.decora/fbx-qa/thiago/"
      style="border: none;width: 100%; height: 100%;"></iframe>
  </div>

  <!-- <div style="border: none;width: 600px; height: 600px;">
    <iframe id="iGameInstanceII" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" src="http://arquivos.decora/fbx-qa/"
      style="border: none;width: 100%; height: 100%;"></iframe>
  </div> -->

</div>
<div style="display: flex;justify-content: space-around;margin-top:32px;">
  <button (click)="sendToWebGL()">Send to WebGL</button>
</div>
