<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/directives/scroll/README.md">
  <h2> Scroll without OffSet</h2>
  <div class="container-first-scroll" fxLayout="column" decScroll (decScrollFinished)="onScrollFinish('first')"
    fxLayoutAlign="start start" fxLayoutGap="8px">
    <div class="item" *ngFor="let item of itens;"> item: {{ item }} </div>
  </div>



  <h2> Scroll with OffSet</h2>
  <div class="container-first-scroll" fxLayout="column" decScroll [decScrollOffset]="50" (decScrollFinished)="onScrollFinish('second')"
    fxLayoutAlign="start start" fxLayoutGap="8px">
    <div class="item" *ngFor="let item of itens;"> item: {{ item }} </div>
  </div>

</app-demo-container>
