<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/dec-zoom-marks/README.md">

  <button mat-icon-button color="primary" (click)="qaMode = !qaMode">
    <mat-icon aria-label="QA Mode">{{qaMode ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
    Qa Mode
  </button>

  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="32px">
    <dec-zoom-marks-gallery fxFlex="620px" [showTags]="true" [markedObjs]="markedObjs" [qaModeActive]="qaMode"></dec-zoom-marks-gallery>

    <dec-zoom-marks-gallery fxFlex="620px" [showTags]="true" [markedObjs]="feedbackObjs" [qaModeActive]="qaMode"
      [qualityAssurance]="qualityAssurance"></dec-zoom-marks-gallery>
  </div>

</app-demo-container>
