<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/autocomplete-project/README.md">

  Company Selected: {{ companyId }}<br>

  <dec-autocomplete-company
  [(ngModel)]="companyId"
  (selected)="optionSelected($event)">
  </dec-autocomplete-company>

  <button type="button" mat-stroked-button (click)="companyId = undefined">Clear company</button>

  <h2>Single</h2>

  Department Selected: {{ project }}

  <dec-autocomplete-project
  [(ngModel)]="project"
  [companyId]="companyId"
  (selected)="optionSelected($event)">
  </dec-autocomplete-project>

  <button type="button" mat-stroked-button (click)="project = undefined">Clear project</button>

  <h2>Multi</h2>

  Department Selected: {{ projects | json }}

  <dec-autocomplete-project
  [(ngModel)]="projects"
  [companyId]="companyId"
  [multi]="true"
  (selected)="optionSelected($event)">
  </dec-autocomplete-project>

  <button type="button" mat-stroked-button (click)="projects = undefined">Clear project</button>

</app-demo-container>
