@import './../../../../../../projects/decora/browser-lib-ui/bootstrap/constants/colors';

.highlight-text {
  color: $dec-color-accent;
}


h2 {
  color: $dec-color-primary;
}

h3 {
  color: $dec-color-accent;
}
