<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/dec-render-comment/README.md">
  <button mat-flat-button color="primary" (click)="openRenderComment()">Open</button>
  <br>
  <br>
  <mat-checkbox class="example-margin" [(ngModel)]="onlyColorVariation">Only Color Variation</mat-checkbox>

  <br>
  <br>

  Your choice is:
  <pre *ngIf="commentResult" class="container-result">{{ commentResult | json }}</pre>

  <br>

  <div>
    <button mat-button (click)="editRenderComment(commentResult)" [disabled]="!commentResult">Edit</button>
  </div>
</app-demo-container>
