<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/autocomplete-quote/README.md">

  Project Selected: {{ projectId }}

  <dec-autocomplete-project
    [(ngModel)]="projectId"
    [companyId]="companyId"
  ></dec-autocomplete-project>

  <button type="button" mat-stroked-button (click)="projectId = undefined">Clear project</button>

  <h2>Single</h2>

  Quote Selected: {{ quote }}

  <dec-autocomplete-quote
  [(ngModel)]="quote"
  [projectId]="projectId"
  name="single-quote"
  decoraProduct="RENDERING"
  decoraProductVariant="RENDERING_MODEL"
  #demoComponent1="ngModel"
  [required]="true"
  ></dec-autocomplete-quote>

  <button type="button" mat-stroked-button (click)="quote = undefined">Clear quote</button>
  &nbsp;
  <button type="button" mat-stroked-button (click)="setTouched(demoComponent1)">Set touched</button>


  <h2>Multi</h2>

  Quote Selected: {{ quotes | json }}

  <dec-autocomplete-quote
  [(ngModel)]="quotes"
  [projectId]="projectId"
  [multi]="true"
  name="multi-quote"
  decoraProduct="RENDERING"
  decoraProductVariant="RENDERING_MODEL"
  #demoComponent2="ngModel"
  [required]="true"
  ></dec-autocomplete-quote>

  <button type="button" mat-stroked-button (click)="quotes = undefined">Clear quote</button>
  &nbsp;
  <button type="button" mat-stroked-button (click)="setTouched(demoComponent2)">Set touched</button>

</app-demo-container>
