<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/autocomplete-department/README.md">

  Company Selected: {{ companyId }}<br>

  <dec-autocomplete-company
  [(ngModel)]="companyId"
  (selected)="optionSelected($event)">
  </dec-autocomplete-company>

  <button type="button" mat-stroked-button (click)="companyId = undefined">Clear company</button>

  <h2>Single</h2>

  Department Selected: {{ department }}

  <dec-autocomplete-department
  [(ngModel)]="department"
  [companyId]="companyId"
  (selected)="optionSelected($event)">
  </dec-autocomplete-department>

  <button type="button" mat-stroked-button (click)="department = undefined">Clear department</button>

  <h2>Multi</h2>

  Department Selected: {{ departments | json }}

  <dec-autocomplete-department
  [(ngModel)]="departments"
  [companyId]="companyId"
  [multi]="true"
  (selected)="optionSelected($event)">
  </dec-autocomplete-department>

  <button type="button" mat-stroked-button (click)="departments = undefined">Clear department</button>

</app-demo-container>
