<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/dec-grid/README.md">

  <h1>Dec Grid</h1>

  <dec-grid gap="0">

    <dec-grid-row>

      <dec-grid-column span="2">
        Coluna 1-2
      </dec-grid-column>

      <dec-grid-column span="3">
        Coluna 3-5
      </dec-grid-column>

      <dec-grid-column>
        Coluna 6
      </dec-grid-column>

      <dec-grid-column span="6">
        Coluna 7-12
      </dec-grid-column>

    </dec-grid-row>

    <dec-grid-row>

      <dec-grid-column span="2">
        Coluna 1-2
      </dec-grid-column>

      <dec-grid-column span="3">
        Coluna 3-5
      </dec-grid-column>

      <dec-grid-column>
        Coluna 6
      </dec-grid-column>

      <dec-grid-column span="6">

        <dec-grid-row>

          <dec-grid-column span="2">
            Coluna 1-2
          </dec-grid-column>

          <dec-grid-column span="3">
            Coluna 3-5
          </dec-grid-column>

          <dec-grid-column>
            Coluna 6
          </dec-grid-column>

          <dec-grid-column span="6">
            Coluna 7-12
          </dec-grid-column>

        </dec-grid-row>

        <dec-grid-row>

          linha 2

        </dec-grid-row>

      </dec-grid-column>

    </dec-grid-row>

  </dec-grid>

</app-demo-container>
