<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/pipes/category/README.md">

  1- <span>{{ '100' | decCategory | async }}</span><br><br>

  2- <span>{{ '000' | decCategory | async }}</span><br><br>

  3- <span>{{ '200' | decCategory | async }}</span><br><br>

  4- <span>{{ '100' | decCategory | async }}</span><br><br>

  5- <span>{{ '100' | decCategory | async }}</span><br><br>

  6- <span>{{ '100' | decCategory | async }}</span><br><br>

  7- <span>{{ '100' | decCategory | async }}</span><br><br>

  8- <span>{{ '100' | decCategory | async }}</span><br><br>

  9- <span>{{ '100' | decCategory | async }}</span><br><br>

  10- <span>{{ '100' | decCategory | async }}</span><br><br>

  11- <span>{{ '100' | decCategory | async }}</span><br><br>

  12- <span>{{ '100' | decCategory | async }}</span><br><br>

  13- <span>{{ '100' | decCategory | async }}</span><br><br>

  14- <span>{{ '100' | decCategory | async }}</span><br><br>

  15- <span>{{ '100' | decCategory | async }}</span><br><br>

  16- <span>{{ '100' | decCategory | async }}</span><br><br>

</app-demo-container>
