ol{
  margin:0;
  padding:0
}

table td,table th{
  padding:0
}

.c0{
  color:#000000;
  font-weight:400;
  text-decoration:none;
  vertical-align:baseline;
  font-size:11pt;
  font-family:"Arial";
  font-style:normal
}

.c5{
  color:#6aa84f;
  font-weight:700;
  text-decoration:none;
  vertical-align:baseline;
  font-size:11pt;
  font-family:"Arial";
  font-style:normal
}

.c7{
  color:#000000;
  font-weight:700;
  text-decoration:none;
  vertical-align:baseline;
  font-size:11pt;
  font-family:"Arial";
  font-style:normal
}

.c1{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.15;
  orphans:2;
  widows:2;
  text-align:left
}

.c4{
  text-decoration-skip-ink:none;
  -webkit-text-decoration-skip:none;
  color:#6aa84f;
  font-weight:700;
  text-decoration:underline
}

.c2{
  text-decoration-skip-ink:none;
  -webkit-text-decoration-skip:none;
  color:#ff0000;
  text-decoration:underline
}

.c8{
  text-decoration-skip-ink:none;
  -webkit-text-decoration-skip:none;
  color:#1155cc;
  text-decoration:underline
}

.c9{
  background-color:#ffffff;
  max-width:451.4pt;
  padding:72pt 72pt 72pt 72pt
}

.c6{
  color:inherit;
  text-decoration:inherit
}

.c11{
  color:#ff0000
}

.c10{
  font-weight:700
}

.c3{
  height:11pt
}

.title{
  padding-top:0pt;
  color:#000000;
  font-size:26pt;
  padding-bottom:3pt;
  font-family:"Arial";
  line-height:1.15;
  page-break-after:avoid;
  orphans:2;
  widows:2;
  text-align:left
}

.subtitle{
  padding-top:0pt;
  color:#666666;
  font-size:15pt;
  padding-bottom:16pt;
  font-family:"Arial";
  line-height:1.15;
  page-break-after:avoid;
  orphans:2;
  widows:2;
  text-align:left
}

li{
  color:#000000;
  font-size:11pt;
  font-family:"Arial"
}

p{
  margin:0;
  color:#000000;
  font-size:11pt;
  font-family:"Arial"
}

h1{
  padding-top:20pt;
  color:#000000;
  font-size:20pt;
  padding-bottom:6pt;
  font-family:"Arial";
  line-height:1.15;
  page-break-after:avoid;
  orphans:2;
  widows:2;
  text-align:left
}

h2{
  padding-top:18pt;
  color:#000000;
  font-size:16pt;
  padding-bottom:6pt;
  font-family:"Arial";
  line-height:1.15;
  page-break-after:avoid;
  orphans:2;
  widows:2;
  text-align:left
}

h3{
  padding-top:16pt;
  color:#434343;
  font-size:14pt;
  padding-bottom:4pt;
  font-family:"Arial";
  line-height:1.15;
  page-break-after:avoid;
  orphans:2;
  widows:2;
  text-align:left
}

h4{
  padding-top:14pt;
  color:#666666;
  font-size:12pt;
  padding-bottom:4pt;
  font-family:"Arial";
  line-height:1.15;
  page-break-after:avoid;
  orphans:2;
  widows:2;
  text-align:left
}

h5{
  padding-top:12pt;
  color:#666666;
  font-size:11pt;
  padding-bottom:4pt;
  font-family:"Arial";
  line-height:1.15;
  page-break-after:avoid;
  orphans:2;
  widows:2;
  text-align:left
}

h6{
  padding-top:12pt;
  color:#666666;
  font-size:11pt;
  padding-bottom:4pt;
  font-family:"Arial";
  line-height:1.15;
  page-break-after:avoid;
  font-style:italic;
  orphans:2;
  widows:2;
  text-align:left
}


