<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/list/README.md">

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Without tabs</mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="example0"></ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Passing rows</mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="example1"></ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Using customFetchMethod</mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="example2"></ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Using DecApi</mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="example3"></ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Using sub filter (accordion)</mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="example4"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>

</app-demo-container>


<ng-template #example0>

  <dec-list name="list-test-without-filters" [rows]="rows2">

    <dec-list-filter></dec-list-filter>

    <dec-list-table [selectable]="true">
      <dec-list-table-column title="#ID">
        <ng-template let-row="row">
          {{ row.id }}
        </ng-template>
      </dec-list-table-column>
    </dec-list-table>

  </dec-list>

</ng-template>

<ng-template #example1>

  <dec-list name="list-test-using-rows" [rows]="rows">

    <dec-list-grid>
      <ng-template let-row="row">
        <div class="test-grid-wrapper">
          <p>teste grid</p>
          {{ row.id }}
        </div>
      </ng-template>
    </dec-list-grid>

    <dec-list-table [selectable]="true">
      <dec-list-table-column title="#ID">
        <ng-template let-row="row">
          {{ row.id }}
        </ng-template>
      </dec-list-table-column>
      <dec-list-table-column title="Name">
        <ng-template let-row="row">
          {{ row.name }}
        </ng-template>
      </dec-list-table-column>
    </dec-list-table>

  </dec-list>

</ng-template>

<ng-template #example2>
  <dec-list name="list-test-custom-fetch-method" [customFetchMethod]="myCustomDecListFetchMethod">

    <dec-list-filter [filters]='filters'></dec-list-filter>

    <dec-list-grid>
      <ng-template let-row="row">
        <div class="test-grid-wrapper">
          <p>teste grid</p>
          {{ row.id }}
        </div>
      </ng-template>
    </dec-list-grid>

    <dec-list-table>
      <dec-list-table-column title="#ID">
        <ng-template let-row="row">
          {{ row.id }}
        </ng-template>
      </dec-list-table-column>
      <dec-list-table-column title="Name">
        <ng-template let-row="row">
          {{ row.name }}
        </ng-template>
      </dec-list-table-column>
    </dec-list-table>

  </dec-list>
</ng-template>

<ng-template #example3>
  <dec-list name="list-test-decora-api" endpoint="report/accounts" [searchableProperties]="['name', 'email', '_id']">

    <dec-list-filter [filters]="filters">

      <dec-list-advanced-filter>

        <ng-template let-form="form">

          advanced

        </ng-template>

      </dec-list-advanced-filter>

    </dec-list-filter>

    <dec-list-grid>
      <ng-template let-row="row">
        <div class="test-grid-wrapper">
          <p>teste grid</p>
          {{ row.id }}
        </div>
      </ng-template>
    </dec-list-grid>

    <dec-list-table>
      <dec-list-table-column title="Name">
        <ng-template let-row="row">
          {{ row.name }}
        </ng-template>
      </dec-list-table-column>
      <dec-list-table-column title="Email">
        <ng-template let-row="row">
          {{ row.email }}
        </ng-template>
      </dec-list-table-column>
    </dec-list-table>

  </dec-list>
</ng-template>

<ng-template #example4>

  <div>selectedCollapsable: {{ list4.selectedCollapsable }}</div>

  <div>selectedTab: {{ list4.selectedTab }}</div>

  <dec-list #list4 name="list-test-subfilter" endpoint="report/accounts" [searchableProperties]="['name', '_id', 'email']">

    <dec-list-filter [filters]="filtersWithSubfilters" loadCountReport>

      <dec-list-advanced-filter>

        <ng-template let-form="form">

          <input type="text" placeholder="Input filter">

          <dec-autocomplete-company></dec-autocomplete-company>

        </ng-template>

      </dec-list-advanced-filter>

    </dec-list-filter>

    <dec-list-grid>
      <ng-template let-row="row">
        <div class="test-grid-wrapper">
          <p>teste grid</p>
          {{ row.id }}
        </div>
      </ng-template>
    </dec-list-grid>

    <dec-list-table>
      <dec-list-table-column title="Name" prop="name"></dec-list-table-column>
      <dec-list-table-column title="Email" prop="email"></dec-list-table-column>
    </dec-list-table>

  </dec-list>
</ng-template>
