<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/services/snack-bar/README.md">

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
    <button mat-flat-button type="button" class="snack-success" (click)="openSnack('label.success', 'success')">Success</button>
    <button mat-flat-button type="button" class="snack-warn" (click)="openSnack('label.warn', 'warn')">Warn</button>
    <button mat-flat-button type="button" class="snack-info" (click)="openSnack('label.info', 'info')">Info</button>
    <button mat-flat-button type="button" class="snack-error" (click)="openSnack('label.error', 'error')">Error</button>
  </div>

</app-demo-container>
