<app-demo-container readmeSrc="/assets/docs/browser-lib-ui/components/dec-i18n-input/README.md">

  <h1>Decora I18n Input</h1>

  <form role="form" #inputsForm="ngForm">

    <div>
      value: {{ testModel1 | json }}

      <dec-i18n-input [(ngModel)]="testModel1" name="testModel1" type="input" [required]="true" (ngModelChange)="onModelChanged('model 1')" (changeLanguage)="onModelChanged($event)"></dec-i18n-input>
    </div>

    <div>
      value: {{ testModel2 | json }}

      <dec-i18n-input [(ngModel)]="testModel2" name="testModel2" type="textarea" [required]="true"></dec-i18n-input>
    </div>

    <div>
      value: {{ testModel3 | json }}

      <dec-i18n-input [(ngModel)]="testModel3" name="testModel3" type="textarea" [required]="true">
        <dec-icon font="mat">close</dec-icon>
        CONTENT HERE
      </dec-i18n-input>
    </div>

  </form>

  <button (click)="setTouched()">setTouched</button>

</app-demo-container>

